main {
  height: 100vh;
  background-image: url("/src/path-to-your-cool-photo.jpg");
  background-size: cover;
  background-position: center;
}

button {
  cursor: pointer;
  /* Add more button styling */
}
